---
- name: Stop existing container if running
  community.docker.docker_container:
    name: my-devops-project
    state: absent
  ignore_errors: yes

- name: Pull Docker image from ECR
  community.docker.docker_image:
    name: "{{ ecr_repository_uri }}:latest"
    source: pull
    state: present

- name: Run web application container from ECR
  community.docker.docker_container:
    name: my-devops-project
    image: "{{ ecr_repository_uri }}:latest"
    state: started
    restart_policy: always
    ports:
      - "80:80"
    env:
      NODE_ENV: production
    container_default_behavior: compatibility