---
- name: Configure all servers
  hosts: all
  become: yes
  roles:
    - common

- name: Configure web server
  hosts: webservers
  become: yes
  roles:
    - docker
    - webapp

- name: Configure monitoring server
  hosts: monitoring_servers
  become: yes
  roles:
    - docker
    - monitoring